<h1>User info</h1>
<div>
 <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
</div>

<div>
 <h3>name<%= user.name %></h3>
 <h3>introduction<%= user.introduction %></h3>
 <% if user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
 <% end %>
</div>