<h1>User info</h1>
<div>
  <h3><%= @user.name %></h3>

</div>

<h2>Books</h2>
<p>Title</p>
<p>Opinion</p>
<% @books.each do |book| %>
  <%= link_to book_path(book.id) do %>
   <div>
      <p><%= book.title %></p>
      <%= book.body %>
   </div>
  <% end %>
<% end %>